!!! 5
%html
  %head
    %title RFF Converter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      = image_tag "rff-converter-logo.png"
    .summary
      = yield :summary
    .formbox
      = yield
    .additional
      = yield :additional
    .stats
      %p
        Currently processing:
        %span#processing_count= @processing_count
        conversion(s). Too many conversions at once can kill the server. If there is a few currently processing please consider running your conversion later.
      %p
        Available disk space: 
        %span#available_disk_space= @available_disk_space
        GB. Your conversion will not complete if there is not enough disk space. Old conversions are removed from server after 7 days, please check back if there is not enough disk space now.
    .footer
      .line
        RFF Converter &copy; 2014 by Phitherek_
      .line
        Powered by
        = link_to "rff", "https://rubygems.org/gems/rff"
        Ruby gem &copy; 2014 by Phitherek_
      .line
        Powered by
        = link_to "Ruby on Rails", "http://www.rubyonrails.org"
